body{
    background-image: url("media/back.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    background: #161616;
}

/*Secciones*/
.header{
    height: 80px;
    width: 100%;
    padding: 0 0;
    background: #161616;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    padding: 10px 10px 10px 10px;
}
.nav-links{
    padding: 10px 10px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.nav-links li a:hover:after{
    width: 100%;
}





.footer{
    background: #161616;
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.footer div{
    text-align: center;
    width: 15%;
    margin: 0 20px 0 20px;
}
.footer div h3{
    font-weight: 300;
    letter-spacing: 1px;
    margin: 30px 0 20px 0;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px 0 10px 0;
}
.col-2 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px 0 10px 0;
}
.col-3 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px 0 10px 0;
}
.col-4 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px 0 10px 0;
}
.copyright{
    text-align: center;
    margin: 30px 10px 30px 10px;
}




.features{
    text-align: left;
    height: auto;
    padding: 0 0;
    margin: 100px 0 0 0;
}
.features h1{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 500;
    position: relative;
}
.features h1::after{
    content: "";
    background: #fff;
    border-radius: 10px;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.featurescontainer{
    width: 90%;
    height: 90%;
}
.accordion{
    margin: 20px 10% 10px 10%;
    background-color: #101010;
    border: #252525 2px solid;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    width: 90%;
    height: 50px;
    text-align: left;
    outline: none;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.accordion:hover{
    background-color: #353535;
}
.active{
    background-color: #252525;
}
.accordion h3{
    margin: 15px 15px 15px 15px;
}
.accordion i{
    color: #fff;
    margin: 15px 15px 15px 15px;
    transition: 0.5s;
}
.active i{
    transform: rotate(180deg);
}
.panel{
    margin: 20px 20% 10px 20%;
    background-color: #151515;
    text-align: left;
    width: 70%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.panel:hover{
    background-color: #252525;
}
.panel p{
    margin: 30px 20px 30px 20px;
}